<nav class="md-nav md-nav--primary" data-md-level="0">
  <label class="md-nav__title md-nav__title--site" for="drawer">
    <span class="md-nav__button md-logo">
      {% if config.theme.logo.icon %}
        <i class="md-icon">{{ config.theme.logo.icon }}</i>
      {% elif config.theme.logo.startswith("http") %}
        <img src="{{ config.theme.logo }}" width="48" height="48">
      {% else %}
        <img src="{{ base_url }}/{{ config.theme.logo }}" width="48" height="48">
      {% endif %}
    </span>
    {{ config.site_name }}
  </label>
  {% if config.repo_url %}
    <div class="md-nav__source">
      {% include "partials/source.html" %}
    </div>
  {% endif %}
  <ul class="md-nav__list" data-md-scrollfix>
    {% for nav_item in nav %}
      {% set path = "nav-" + loop.index | string %}
      {% set level = 1 %}
      {% include "partials/nav-item.html" %}
    {% endfor %}
  </ul>
</nav>
